
<h1>Login</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
<h1><div class="field">
  <%= f.label :username %><br />
  <%= f.text_field :username %>
</div>
<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</div></h1>
<div class="actions">
  <%= f.submit "Login" %>
</div>
<div class="actions">
  <%= link_to "Not on our site? You should be!", :controller => "users", :action => "new", :id => @user %>
</div>
<% end %>
