<%= form_for(@followslist) do |f| %>
  <% if @followslist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@followslist.errors.count, "error") %> prohibited this followslist from being saved:</h2>

      <ul>
      <% @followslist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :list_id %><br />
    <%= f.text_field :list_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
