<%= form_for(@followsuser) do |f| %>
  <% if @followsuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@followsuser.errors.count, "error") %> prohibited this followsuser from being saved:</h2>

      <ul>
      <% @followsuser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :follower_id %><br />
    <%= f.text_field :follower_id %>
  </div>
  <div class="field">
    <%= f.label :following_id %><br />
    <%= f.text_field :following_id %>
  </div>
  <div class="field">
    <%= f.label :approved %><br />
    <%= f.check_box :approved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
