<h1>Listing followsusers</h1>

<table>
  <tr>
    <th>Follower</th>
    <th>Following</th>
    <th>Approved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @followsusers.each do |followsuser| %>
  <tr>
    <td><%= followsuser.follower_id %></td>
    <td><%= followsuser.following_id %></td>
    <td><%= followsuser.approved %></td>
    <td><%= link_to 'Show', followsuser %></td>
    <td><%= link_to 'Edit', edit_followsuser_path(followsuser) %></td>
    <td><%= link_to 'Destroy', followsuser, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Followsuser', new_followsuser_path %>
