<p id="notice"><%= notice %></p>

<p>
  <b>Follower:</b>
  <%= @followsuser.follower_id %>
</p>

<p>
  <b>Following:</b>
  <%= @followsuser.following_id %>
</p>

<p>
  <b>Approved:</b>
  <%= @followsuser.approved %>
</p>


<%= link_to 'Edit', edit_followsuser_path(@followsuser) %> |
<%= link_to 'Back', followsusers_path %>
