<p id="notice"><%= notice %></p>

<% if !current_user.follows?(@user) %>

<% end %>

<% if current_user == @user %>
<%= link_to "requests", requests_url  %>
<% end %>

<h1>
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>
</h1>
<p>
  <h3><b>Tweets:</b></h3>
  <ul>
    <% if current_user == @user %>
    <% @alltweets.each do |t| %>
    <li>
     <h1> <td><%= t.body %></td>
      <td><%= t.updated_at %></td>
      <td><%= link_to t.user.username, user_tweets_url(:username => t.user.username)%></td>
      <% if current_user == t.user %>
      <td><%= link_to "Delete Tweet", t, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </li>
    <% end %>
    <% else %>
    <% @tweets.each do |t| %>
    <li>
      <td><%= t.body %></td>
      <td><%= t.updated_at %></td>
      <td><%= link_to t.user.username, user_tweets_url(:username => t.user.username)%></td>
      <% if current_user == t.user %>
      <td><%= link_to "Delete Tweet", t, :confirm => 'Are you sure?', :method => :delete %></td></h1>
      <% end %>
    </li>
    <% end %>
    <% end %>
    
  </ul>
  
</p>

