<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>


<p>
  <b>Tweets:</b>
  <ul>
    <% @followtweets.each do |t| %>
    <li>
      <td><%= t.body %></td>
<<<<<<< HEAD
      <td><%= link_to t.user.username, t.user%></td>
=======
      <td><%= t.user.username %></td>
>>>>>>> caf1747514e7176d09f8b38cfca0cc7183b90adc
    </li>
    <% end %>
  </ul>
  
</p>

