<p id="notice"><%= notice %></p>

<%= link_to "mentions", mention_list_url(@user.id) %>
<% if current_user == @user %>
<%= link_to "messages", user_messages_url %>
<%= link_to "Suggestions", suggestions_url %>
<h3>
<p>
<%= link_to "requests", requests_url  %>
</p>
<% end %>

<% if current_user.follows?(@user) || @user.privacy == 0 %>
<%= link_to "profile", user_profile_url(@user.id) %>
<% end %>

</h3>
<h3>
  <p>
    <b>Username:</b>
    <%= @user.username %>|
    <b>Followers:</b>
    <%= @user.followers.count %>|
    <b>Following:</b>
    <%= @user.following.count %>|
    <b>Tweets:</b>
    <%= @user.tweets.count %>
  </p>
  <p>
    <% if current_user != @user %>
    <% if current_user.requested?(@user) %>
    Waiting for approval
    <% elsif !current_user.follows?(@user) %>
    <%= link_to "follow user", follow_user_url(:id=>@user.id) %>
    <% else %>
    <%= link_to "unfollow user", unfollow_user_url(:id=>@user.id) %>
    <% end %>
    <% end %>
  </p>
  <%= link_to "See Relationships", user_relationships_url(@user.id) %>
  <p>
  </p>
</h3>
<% if current_user == @user %>
<p>
  <h2>What's going on?</h2>
  <%= form_for(@tweet) do |f| %>
<% if @tweet.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>
  
  <ul>
    <% @tweet.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.text_field :body %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

  <% end %>
</p>
<p>
  <h3><b>Tweets:</b></h3>
  <ul>
    <% if current_user == @user %>
    <% @alltweets.each do |t| %>
    <li>
      <h4> <td><%= t.body %></td>
        <td><%= t.updated_at.to_date %></td>
        <td><%= link_to t.user.username, user_tweets_url(:username => t.user.username)%></td>
        <% if current_user == t.user %></br>
        <td><%= link_to "Delete Tweet", t, :confirm => 'Are you sure?', :method => :delete %></td></h4>
      <% end %>
    </li>
    <% end %>
    <% else %>
    <% @tweets.each do |t| %>
    <li>
      <h4>
        <td><%= t.body %></td>
        <td><%= t.updated_at.to_date %></td>
        <td><%= link_to t.user.username, user_tweets_url(:username => t.user.username)%></td>
      </h4>
    </li>
    <% end %>
    <% end %>
    
  </ul>
  
</p>

