<%= form_for(@inlist) do |f| %>
  <% if @inlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inlist.errors.count, "error") %> prohibited this inlist from being saved:</h2>

      <ul>
      <% @inlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :list_id %><br />
    <%= f.text_field :list_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
