<h1>Listing inlists</h1>

<table>
  <tr>
    <th>List</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inlists.each do |inlist| %>
  <tr>
    <td><%= inlist.list_id %></td>
    <td><%= inlist.user_id %></td>
    <td><%= link_to 'Show', inlist %></td>
    <td><%= link_to 'Edit', edit_inlist_path(inlist) %></td>
    <td><%= link_to 'Destroy', inlist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inlist', new_inlist_path %>
