<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @messagerelation.message_id %>
</p>

<p>
  <b>From:</b>
  <%= @messagerelation.from_id %>
</p>

<p>
  <b>To:</b>
  <%= @messagerelation.to_id %>
</p>

<p>
  <b>Read:</b>
  <%= @messagerelation.read %>
</p>


<%= link_to 'Edit', edit_messagerelation_path(@messagerelation) %> |
<%= link_to 'Back', messagerelations_path %>
