<%= form_for(@mention) do |f| %>
  <% if @mention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mention.errors.count, "error") %> prohibited this mention from being saved:</h2>

      <ul>
      <% @mention.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :tweet_id %><br />
    <%= f.text_field :tweet_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
