<h1>Listing mentions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Tweet</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mentions.each do |mention| %>
  <tr>
    <td><%= mention.user_id %></td>
    <td><%= mention.tweet_id %></td>
    <td><%= link_to 'Show', mention %></td>
    <td><%= link_to 'Edit', edit_mention_path(mention) %></td>
    <td><%= link_to 'Destroy', mention, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mention', new_mention_path %>
