<!DOCTYPE html>
<html>
<head>
  <title>Quitter: Twitter for Quitters</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<% if !current_user.nil? %>
<div id="logged_in_user">
Logged in as
<%= current_user.username %>
</div>
<% end %>
<%= signed_in? %>
  
  <% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
  <% end %>
<%= yield %>

<p>Debug:<br>
current_user
<%= debug current_user %>
</p>
</body>
</html>
