<h1>Listing favoritetweets</h1>

<table>
  <tr>
    <th>Tweet</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @favoritetweets.each do |favoritetweet| %>
  <tr>
    <td><%= favoritetweet.tweet_id %></td>
    <td><%= favoritetweet.user_id %></td>
    <td><%= link_to 'Show', favoritetweet %></td>
    <td><%= link_to 'Edit', edit_favoritetweet_path(favoritetweet) %></td>
    <td><%= link_to 'Destroy', favoritetweet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Favoritetweet', new_favoritetweet_path %>
